<div class="card-wrapper">
  <div class="greeting">Good Morning,<br /><span class="user-name">{{ (accountStore.getAccount())?.holderName ||
      'User' }}</span>

    <div class="balance-card">
      <div class="balance-label">Available Balance</div>
      <div class="balance-amount">₹ {{ (accountStore.getAccount())?.balance || 0 | number:'1.2-2' }}</div>
      <div class="account-number">Account Number: {{ (accountStore.getAccount())?.id || 'XXXX-XXXX-1234' }}
      </div>
    </div>

    <div class="grid-actions">
      <div class="action" (click)="navigateTo('/transfer')">
        <div class="icon">💸</div>
        <div class="label">Transfer</div>
      </div>
      <div class="action" (click)="navigateTo('/transaction-history')">
        <div class="icon">📜</div>
        <div class="label">History</div>
      </div>
      <div class="action" (click)="navigateTo('/profile')">
        <div class="icon">👤</div>
        <div class="label">Profile</div>
      </div>
      <div class="action" (click)="logout()">
        <div class="icon">🔒</div>
        <div class="label">Logout</div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>